body{
    background: url("/images/background.jpg") no-repeat fixed;
    font-style: italic;
    text-align: center;
    color: #ff2e2f;
    margin-top: 5vh;
}
input{
    margin-bottom: 2vh;
}
hr{
    /*width: 2em;*/
    border-width: normal;
    border-color: #1a237e;
}

/*textarea*/
/*{*/
/*    max-width: 70%;*/
/*    text-align: center;*/
/*}*/
