<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">

</head>
<body>
<div th:if="${role}=='ROLE_ADMIN'">

    <nav>
        <a href="/guestbook/new/" th:if="${role}=='ROLE_ADMIN'" th:text="#{nav.new.guestbook}"></a><br>
        <a href="/" th:text="#{nav.home.page}">index</a><br>
        <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a><br>
        <a href="/logout" th:text="#{nav.logout}">Log out</a>
    </nav>

    <div class="wrapper">
        <form method="post">
            <div>
                <label>
                    <input type="text" th:value="#{guestbook.new.subject}" name="subject">
                </label>
            </div>
            <div>
                <label for="form16">
                    <input type="text" name=post id="form16" th:value="#{guestbook.new.detail}">
                </label>
            </div>
            <button type="submit" th:text="#{guestbook.new.button.save}" class="btn btn-outline-primary waves-effect"></button>
        </form>

    </div>
</div>
<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>