<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{guestbook.list.title}">guestbook list title here</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">
</head>
<body>

<nav>
    <a href="/guestbook/new/" th:if="${role}=='ROLE_ADMIN'" th:text="#{nav.new.guestbook}"></a><br>
    <a href="/" th:text="#{nav.home.page}">index</a><br>
    <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a><br>
    <a href="/logout" th:text="#{nav.logout}">Log out</a>
</nav>
<div th:each="g : ${guestbooks}">
    <div th:text="${g.user.username}">made a post: </div>
    <div th:text="${g.post}"></div>
    <div th:text="${g.subject}"></div>
    <form th:action="@{'/guestbook/' + ${g.id}+'/comment/'}" method="get"><button type="submit" value="post" class="btn btn-outline-primary waves-effect" th:text="#{guestbook.list.button}" >Go to subject:</button>
    </form><hr>
</div>

<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>