<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comment.list.title}">Comment list title here</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../mdbootstrap/maincss.css">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">
</head>
<body>

<nav>
    <a href="/guestbook/new/" th:if="${role}=='ROLE_ADMIN'" th:text="#{nav.new.guestbook}"></a><br>
    <a href="/" th:text="#{nav.home.page}">index</a><br>
    <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a><br>
    <a href="new/" th:text="#{nav.comment.create}">create new comment</a><br>
    <a href="/logout" th:text="#{nav.logout}">Log out</a>

</nav>
<br>
<div th:text="${guestbook.subject}"></div>
<div th:text="${guestbook.post}"></div>
<hr>
<div th:each="c : ${comments}">
    <div th:text="${c.comment}">placed comment:</div>
    <div th:text="${{c.commentTime}}">date</div>
    <div th:text="${c.user.firstName}"></div>
    <form th:action="@{'/guestbook/' + ${guestbook.id}+'/comment/' + ${c.id} + '/del/'}"
          th:method="delete"><button class="btn btn-outline-primary waves-effect" type="submit" th:text="#{comment.list.button.delete}"
                                     th:if="${role}=='ROLE_ADMIN'">delete</button>
    </form>
    <br><hr>


</div>
<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>