<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" >
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">

    <title>Title</title>
</head>
<body>
<div>
    <nav>
        <a href="/guestbook/new/" th:if="${role}=='ROLE_ADMIN'" th:text="#{nav.new.guestbook}"></a><br>
        <a href="/" th:text="#{nav.home.page}">index</a><br>
        <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a><br>
        <a href="/logout" th:text="#{nav.logout}">Log out</a>
    </nav>

    <!--    th:action="@{'/guestbook/' + ${guestbook.id}+'/comment/'}"-->
    <form method="post" class="form-group">
<!--        <input type="text" name="comment" value="comment">-->
        <textarea id="textarea-char-counter" name="comment" class="form-control"  maxlength="240" rows="3" ></textarea>
        <label for="textarea-char-counter"></label>
        <button type="submit" th:text="#{comment.new.button.save}" name="submit" class="btn btn-outline-primary waves-effect">save</button>
    </form>
</div>

<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>