<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head title="register">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../mdbootstrap/maincss.css">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">

    <title>register</title>
</head>
<body>
<h1 th:text="#{user.register.head}">Create new account</h1>
<div>
        <form method="post" action="/register/">
            <div>
                <input required type="text" th:placeholder="#{user.register.firstname}" name="firstName" id="firstName"/>
            </div>
        <div>
            <label>
                <input required th:placeholder="#{user.register.lastname}" name="lastName" type="text"/>
            </label>
        </div>
        <div>
            <label>
                <input required type="text" th:placeholder="#{user.register.email}" name="email" pattern="^[a-z0-9](\.?[a-z0-9]){5,}@gmail\.com$" oninvalid="this.setCustomValidity('Please enter a valid gmail address')" oninput="this.setCustomValidity('')"/>
            </label>
        </div>
        <div>
            <label>
                <input required th:placeholder="#{user.register.username}" name="username" type="text"/>
            </label>
        </div>
        <div>
            <label>
                <input required id th:placeholder="#{user.register.password}" name="password" type="password"/>
            </label>
        </div>
        <div>
            <button type="submit" value="register" th:text="#{user.register.button.register}">Register</button>
        </div>

    </form>
</div>

<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>