<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../mdbootstrap/maincss.css">
    <link rel="stylesheet" href="/../../mdbootstrap/maincss.css">
</head>
<body>
<nav>
    <a href="/" th:text="#{nav.home.page}">index</a><br>
    <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a><br>
    <a href="/logout" th:text="#{nav.logout}">Log out</a>
</nav>

<script type="text/javascript" src="/../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/../mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>