<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:security="http://www.springframework.org/schema/security"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible">
    <title>Material Design Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/../../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../../mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/../../mdbootstrap/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/../mdbootstrap/maincss.css">

</head>

<body>
<div sec:authorize="isAnonymous()">


<form method="post" name="loginForm" th:action="@{/authenticateUser}" >
    <div th:if="${param.wrongUserError}">
        Invalid username or password.
    </div>

    <div>
        <label>
            <input type="text" name="username" />
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password"  autofocus/>
        </label>
    </div>
    <div>
        <label>
            <button type="submit" class="btn btn-outline-primary waves-effect" value="login" th:text="#{login.login.button}">login</button>
        </label>
    </div>
</form>
</div>
<div>
    <div sec:authorize="isAuthenticated()" >
        <nav>
            <a href="/guestbook/new/" th:if="${role}=='ROLE_ADMIN'" th:text="#{nav.new.guestbook}">New guestbook</a><br>
            <a href="/" th:text="#{nav.home.page}">index</a><br>
            <a href="/guestbook/" th:text="#{nav.guestbook.all}">All guestbooks</a>
        </nav>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" th:value="#{nav.logout}" class="btn btn-outline-primary waves-effect" />
        </form>
    </div>
</div>
<div sec:authorize="isAnonymous()">
    <div th:text="#{login.member}">not a member yet?</div>
    <a href="/register/" th:text="#{login.register}">register here!</a>
</div>
<script type="text/javascript" src="/../../mdbootstrap/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/../../mdbootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/../../mdbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/../../mdbootstrap/js/mdb.min.js"></script>
</body>
</html>